<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
UI_shared.xsd">
	<Script file="Mixin/Config.mixin.lua" />
	<Frame name="DragonflightUIConfigFrameTemplate" mixin="DragonFlightUIConfigMixin" inherits="SettingsFrameTemplate" toplevel="true" hidden="true" movable="true" enableMouse="true" resizable="true" frameStrata="HIGH" virtual="true">
		<Size x="920" y="724" />
		<Anchors>
			<Anchor point="CENTER" />
		</Anchors>
		<Layers>
			<Layer level="OVERLAY" textureSubLevel="2">
				<Texture atlas="Options_InnerFrame" useAtlasSize="true">
					<Anchors>
						<Anchor point="TOPLEFT" x="17" y="-64" />
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="OVERLAY" textureSubLevel="2">
				<FontString parentKey="OutputText" inherits="GameFontWhite">
					<Anchors>
						<Anchor point="BOTTOM" x="0" y="24" />
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<Button parentKey="CloseButton" inherits="UIPanelButtonTemplate">
				<Size x="96" y="22" />
				<Anchors>
					<Anchor point="BOTTOMRIGHT" x="-16" y="16" />
				</Anchors>
			</Button>
			<Frame parentKey="CategoryListDF" inherits="SettingsCategoryListTemplateDF">
				<Size x="199" y="569" />
				<Anchors>
					<Anchor point="TOPLEFT" x="18" y="-76" />
					<Anchor point="BOTTOMLEFT" x="178" y="46" />
				</Anchors>
			</Frame>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad" />
			<OnEvent method="OnEvent" />
			<OnShow method="OnShow" />
			<OnHide method="OnHide" />
		</Scripts>
	</Frame>
	<!-- Blizzard_CategoryList.xml -->
	<Frame name="SettingsCategoryListTemplateDF" mixin="SettingsCategoryListMixinDF" virtual="true">
		<Frames>
			<Frame parentKey="ScrollBox" inherits="WowScrollBoxList">
				<Anchors>
					<!-- Note this is overwritten by the managed scroll bar visibility behavior in OnLoad. -->
					<Anchor point="TOPLEFT" x="-50" y="0" />
					<Anchor point="BOTTOMRIGHT" />
				</Anchors>
			</Frame>
			<EventFrame parentKey="ScrollBar" inherits="MinimalScrollBar">
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.ScrollBox" relativePoint="TOPRIGHT" x="0" y="2" />
					<Anchor point="BOTTOMLEFT" relativeKey="$parent.ScrollBox" relativePoint="BOTTOMRIGHT" x="-1" y="7" />
				</Anchors>
			</EventFrame>
		</Frames>
		<Scripts>
			<OnLoad inherit="prepend" method="OnLoad" />
		</Scripts>
	</Frame>
</Ui>
