<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
UI_shared.xsd">
	<Script file="Mixin/Config.mixin.lua" />
	<Script file="Mixin/SettingsCategoryList.mixin.lua" />
	<Script file="Mixin/ConfigCategoryButton.mixin.lua" />
	<Script file="Mixin/ConfigCategory.mixin.lua" />
	<Script file="Mixin/SettingsList.mixin.lua" />
	<Frame name="DragonflightUIConfigFrameTemplate" mixin="DragonFlightUIConfigMixin" inherits="SettingsFrameTemplate" toplevel="true" hidden="true" movable="true" enableMouse="true" resizable="true" frameStrata="HIGH" virtual="true">
		<Size x="920" y="724" />
		<Anchors>
			<Anchor point="TOPRIGHT" relativePoint="CENTER" x="460" y="362" />
		</Anchors>
		<Layers>
			<Layer level="OVERLAY" textureSubLevel="2">
				<Texture parentKey="InnerFrame" atlas="Options_InnerFrame" useAtlasSize="true">
					<Anchors>
						<Anchor point="TOPLEFT" x="17" y="-64" />
						<Anchor point="BOTTOMRIGHT" x="-17" y="42" />
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="OVERLAY" textureSubLevel="2">
				<FontString parentKey="OutputText" inherits="GameFontWhite">
					<Anchors>
						<Anchor point="BOTTOM" x="0" y="24" />
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<Button parentKey="CloseButton" inherits="UIPanelButtonTemplate">
				<Size x="96" y="22" />
				<Anchors>
					<Anchor point="BOTTOMRIGHT" x="-16" y="16" />
				</Anchors>
			</Button>
			<Button parentKey="MinimizeButton" inherits="MaximizeMinimizeButtonFrameTemplate">
				<Size x="32" y="32" />
				<Anchors>
					<Anchor point="RIGHT" relativeKey="$parent.ClosePanelButton" relativePoint="LEFT" x="10" y="0" />
				</Anchors>
			</Button>
			<Button parentKey="KeybindButton" inherits="UIPanelButtonTemplate">
				<Size x="165" y="22" />
				<Anchors>
					<Anchor point="RIGHT" relativeKey="$parent.MinimizeButton" relativePoint="LEFT" x="7" y="0" />
				</Anchors>
			</Button>
			<!--
			<Frame parentKey="DFCategoryList" inherits="DragonflightUIConfigCategoryListTemplate">
			<Size x="199" y="569" />
			<Anchors>
			<Anchor point="TOPLEFT" x="18" y="-76" />
			<Anchor point="BOTTOMLEFT" x="178" y="46" />
			</Anchors>
			</Frame>
			-->
			<Frame parentKey="DFSettingsCategoryList" inherits="DFSettingsCategoryList">
				<Size x="199" y="569" />
				<Anchors>
					<!-- <Anchor point="TOPLEFT" x="-250" y="-76" /> -->
					<Anchor point="TOPLEFT" x="18" y="-76" />
					<Anchor point="BOTTOMLEFT" x="178" y="46" />
				</Anchors>
			</Frame>
			<Frame parentKey="Container">
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.DFSettingsCategoryList" relativePoint="TOPRIGHT" x="16" />
					<Anchor point="BOTTOMLEFT" relativeKey="$parent.DFSettingsCategoryList" relativePoint="BOTTOMRIGHT" x="16" y="1" />
					<Anchor point="RIGHT" x="-22" />
				</Anchors>
				<Frames>
					<Frame parentKey="SettingsCanvas" setAllPoints="true" />
					<!-- <Frame parentKey="SettingsList" inherits="SettingsListTemplateDF" setAllPoints="true" /> -->
					<Frame parentKey="DFSettingsList" inherits="DFSettingsList" setAllPoints="true" />
				</Frames>
			</Frame>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad" />
			<OnEvent method="OnEvent" />
			<OnShow method="OnShow" />
			<OnHide method="OnHide" />
		</Scripts>
	</Frame>
	<!-- Blizzard_CategoryList.xml -->
	<Frame name="SettingsCategoryListTemplateDF" mixin="SettingsCategoryListMixinDF" virtual="true">
		<Frames>
			<Frame parentKey="ScrollBox" inherits="WowScrollBoxList">
				<Anchors>
					<!-- Note this is overwritten by the managed scroll bar visibility behavior in OnLoad. -->
					<Anchor point="TOPLEFT" x="-50" y="0" />
					<Anchor point="BOTTOMRIGHT" />
				</Anchors>
			</Frame>
			<EventFrame parentKey="ScrollBar" inherits="MinimalScrollBar">
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.ScrollBox" relativePoint="TOPRIGHT" x="0" y="2" />
					<Anchor point="BOTTOMLEFT" relativeKey="$parent.ScrollBox" relativePoint="BOTTOMRIGHT" x="-1" y="7" />
				</Anchors>
			</EventFrame>
		</Frames>
		<Scripts>
			<OnLoad inherit="prepend" method="OnLoad" />
		</Scripts>
	</Frame>
	<Frame name="SettingsCategoryListHeaderTemplateDF" mixin="DragonFlightUIConfigCategoryMixin" virtual="true">
		<Size x="175" y="30" />
		<Layers>
			<Layer level="ARTWORK">
				<Texture parentKey="Background">
					<Anchors>
						<Anchor point="TOPLEFT" />
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="OVERLAY">
				<FontString parentKey="Label" inherits="GameFontHighlightMedium" justifyH="LEFT">
					<Anchors>
						<Anchor point="LEFT" x="20" y="-1" />
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Scripts>
			<OnLoad inherit="prepend" method="OnLoad" />
		</Scripts>
	</Frame>
	<Button name="SettingsCategoryListButtonTemplateDF" mixin="DragonFlightUIConfigCategoryButtonMixin" virtual="true">
		<Size x="175" y="20" />
		<Frames>
			<EventButton parentKey="Toggle" hidden="true">
				<Size x="22" y="22" />
				<Anchors>
					<Anchor point="LEFT" x="9" />
				</Anchors>
				<NormalTexture name="$parentNormalTexture" file="Interface\Buttons\UI-MinusButton-UP" />
				<PushedTexture name="$parentPushedTexture" file="Interface\Buttons\UI-MinusButton-DOWN" />
				<HighlightTexture name="$parentHighlightTexture" file="Interface\Buttons\UI-PlusButton-Hilight" alphaMode="ADD" />
			</EventButton>
		</Frames>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="Texture">
					<Anchors>
						<Anchor point="CENTER" />
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" justifyH="LEFT">
					<Anchors>
						<Anchor point="TOPLEFT" x="36" y="1" />
						<Anchor point="BOTTOMRIGHT" y="1" />
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<Frame parentKey="NewFeature" inherits="NewFeatureLabelTemplate" frameStrata="HIGH" scale=".8" frameLevel="100" hidden="true">
				<Size x="1" y="1" />
				<Anchors>
					<Anchor point="RIGHT" relativeKey="$parent.Label" relativePoint="LEFT" x="-37" y="3" />
				</Anchors>
			</Frame>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad" />
			<OnEnter method="OnEnter" />
			<OnLeave method="OnLeave" />
			<OnMouseDown method="OnMouseDown" />
			<OnMouseUp method="OnMouseUp" />
		</Scripts>
	</Button>
</Ui>
